body {
	background-color: #ffff00;
	align-content: center;
}

header {
	align-content: center;
}

header img, h1{
	align-content: center;
	display: inline-block;
	vertical-align: top;
}

header img {
	border-radius: 50%;
}

nav{
	align-content: center;
}

nav.menu-nav li.btn {
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav li.btn a{
	color: white;
	background-color: red;
	text-decoration: none;
	padding: 10px;
}

nav.menu-nav li.btn:hover a{
	color: red;
	background-color: white;
	transition: 1s all;
}


footer{
	align-content: center;
	color: blue;
}

footer img{
	border-radius: 50%;
}